.env
config.json
private_key
temp_meta.csv
paper_md
paper_jsonl
artifacts
__pycache__
data
results
pdfs
data/smiles_latest.xlsx
data/rag_meta_latest.csv
data/results/*
data/rag_meta_latest.csv
data/smiles_latest.xlsx
papers/paper_md_doi/*
papers/paper_md/*
